<footer class="text-center text-lg-start bg-light text-muted">
  <section class="p-4 border-bottom">
    <div class="container d-flex justify-content-center justify-content-lg-between">
      <div class="me-5 d-none d-lg-block">
        <span>Encuéntranos en nuestras redes sociales:</span>
      </div>
      <div>
        <a href="" class="me-4 text-reset"><i class="bi-facebook"></i></a>
        <a href="" class="me-4 text-reset"><i class="bi-twitter"></i></a>
        <a href="" class="me-4 text-reset"><i class="bi-instagram"></i></a>
        <a href="" class="me-4 text-reset"><i class="bi-linkedin"></i></a>
      </div>
    </div>
  </section>

  <section class="footer-content">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-5 col-lg-7 col-xl-7 mx-auto mb-4">
          <h6 class="text-uppercase mb-4">
            <i class="bi-gem"></i>CTS - Caribbean Temporary Services LLC
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Site Map</h6>
          <p><a href="#!" class="text-reset"><i class="bi-house-heart me-3"></i>Inicio</a></p>
          <p><a href="#!" class="text-reset"><i class="bi-book me-3"></i>Acerca</a></p>
          <p><a href="#!" class="text-reset"><i class="bi-gear me-3"></i>Servicios</a></p>
          <p><a href="#!" class="text-reset"><i class="bi-envelope me-3"></i>Contacto</a></p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
          <p>
            <i class="bi-pin-map me-3"></i>
            <a href="https://goo.gl/maps/MfYaQTTrJt9gZuYv6">1431 Ponce de Leon, San Juan, PR</a>
          </p>
          <p>
            <i class="bi-envelope me-3"></i>
            <a href="mailto:info@ctspr.com">info@ctspr.com</a>
          </p>
          <p>
            <i class="bi-phone me-3"></i>
            <a href="7876205500">787-620-5500</a>
          </p>
          <p><i class="bi-printer me-3"></i>787-620-0698</p>
        </div>
      </div>
    </div>
  </section>

  <section class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Copyright © 2022:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">CTSPR.com</a>
  </section>
</footer>