{% load static %}

<nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-light">
  <div class="container-xxl">
    <div class="d-flex">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/logo_cts.png' %}" alt="Company Logo" width="160" height="64" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarScroll">
      {% with request.resolver_match.url_name as url_name %}
        <ul class="navbar-nav ms-auto flex-nowrap nav-tabs">
          <li class="nav-item"><a href="{% url 'home' %}" class="nav-link m-2 menu-item {% if url_name == 'home' %}active{% endif %}"><i class="bi-house-heart me-1"></i>Inicio</a></li>
          <li class="nav-item"><a href="{% url 'ofertas' %}" class="nav-link m-2 menu-item {% if url_name == 'ofertas' %}active{% endif %}"><i class="bi bi-wrench-adjustable-circle me-1"></i>Ofertas de Empleo</a></li>
          <li class="nav-item"><a href="#" class="nav-link m-2 menu-item {% if url_name == 'covid' %}active{% endif %}"><i class="bi-sun me-1"></i>COVID-19</a></li>
          <!-- <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link m-2 menu-item {% if url_name == 'contact' %}active{% endif %}"><i class="bi-envelope me-1"></i>Contacto</a></li> -->
          <li class="nav-item"><a href="{% url 'login' %}" class="nav-link m-2 menu-item"><i class="bi-box-arrow-in-right me-1"></i>Login</a></li>
        </ul>
      {% endwith %}
    </div>
  </div>
</nav>