@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@300;400&display=swap");

:root {
  --primary: #ed1c8f; /*Deep Cerise rgba(237, 28, 143, 1)*/
  --suplementario: #1D8FED; /*Bleu De France*/
  --secondary: #3371DF; /* rgba(51, 113, 223, 1)*/
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.btn {
  background-color: var(--secondary);
}

/* GENERAL
  ------------------------- */
.divider {
  height: 16px;
  background-color: var(--primary);
}
.hr {
  height: 16px;
  background-color: var(--secondary);
}


.card {
  margin-bottom: 3rem;
}

#sucursales .lh-1, #empleados .lh-1, #whycts .lh-1 {
  color: var(--primary);
}

/* Featurettes
  ------------------------- */


.featurette-heading {
  letter-spacing: -.05rem;
  text-align: center;
  padding-bottom: 2rem;
}


/* NAVIGATION BAR
  ------------------------- */
li>a>i {
  font-size: 1.3rem;
}
a.active {
  color: var(--primary) !important;
  
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.navbar {
  /* background: none !important; */
}
#myCarousel {
  margin-top: 45px;
}

/* OFERTAS
  ------------------------- */
#ofertas {
  background-color: var(--secondary);/*#666*/
  min-height: 300px;
  color: white;
  border-bottom: 16px solid rgba(0, 0, 0, 0.3)
}
#ofertas .lead, .form-select{
  /* color: red; */
  max-width: 400px;
}
#ofertas .second {
  /* color: red; */
  max-width: 700px;
}



/* SUCURSALES
  ------------------------- */
  #sucursales h5 {
    color: var(--primary) !important;
    font-size: 1.5rem;
  }



/* EMPLEADOS
  ------------------------- */
#empleados {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#empleados .lead {
  margin: 0 auto;
  max-width: 55rem;
  text-align: justify;
}
#empleados p.lead {
  padding-top: 1.5rem;
}

.btns {
  padding-top: 2rem;
}



/* CAROUSEL
  ------------------------- */
.carousel {
  background: #007aeb;
}

.carousel-item .img-fluid {
  width: 100%;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


footer {
  border-top: 16px solid rgba(237, 28, 143)
}
footer a > i {
  color: var(--primary);
  font-size: 1.3rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media only screen and (max-width: 991px) {
  .d-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .featurette-divider {
    margin: 3rem 0;
  }

}

@media only screen and (min-width: 991px) {
  #sucursales .lh-1, #empleados .lh-1 {
    padding-bottom: 3rem;
  }

  #sucursales{
    margin-top: 4rem;
  }

}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f9fe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #106eea;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}



/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  border: 1px solid #e2eefd;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #f1f6fe;
  border-radius: 4px;
  border: 1px solid #deebfd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}

.services .icon-box .icon i {
  color: #3b8af2;
  font-size: 28px;
  transition: ease-in-out 0.3s;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(16, 110, 234, 0.1);
}

.services .icon-box:hover h4 a,
.services .icon-box:hover .icon i {
  color: #106eea;
}

.services .icon-box:hover .icon {
  border-color: #106eea;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  padding: 60px 0;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #222222;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(16, 110, 234, 0.8);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a:hover {
  background: #3b8af2;
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #222222;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}


