@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@300;400&display=swap");

:root {
  --primary: #ed1c8f; /*Deep Cerise rgba(237, 28, 143, 1)*/
  --suplementario: #1D8FED; /*Bleu De France*/
  --secondary: #3371DF; /* rgba(51, 113, 223, 1)*/
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  }

.btn {
  background-color: var(--secondary);
}

/* GENERAL
  ------------------------- */
.divider {
  height: 16px;
  background-color: var(--primary);
}
.hr {
  height: 16px;
  background-color: var(--secondary);
}


.card {
  margin-bottom: 3rem;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f9fe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: var(--primary)
}

.section-title h3 span {
  color: #106eea;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}


/*--------------------------------------------------------------
# Featurettes
--------------------------------------------------------------*/

.featurette-heading {
  letter-spacing: -.05rem;
  text-align: center;
}


/*--------------------------------------------------------------
# Navigation Bar
--------------------------------------------------------------*/

li>a>i {
  font-size: 1.3rem;
}
a.active {
  color: var(--primary) !important;
  
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

#myCarousel {
  margin-top: 45px;
}



/*--------------------------------------------------------------
# Why CTS
--------------------------------------------------------------*/
#whycts {
  background:#eee;
}
.accordion-body i {
  font-size: 1.5rem;

}
.accordion-body.employees i {
  color: var(--primary);
}
.accordion-body.employees h4 {
  color: var(--secondary);
  font-weight: 400;
}

.accordion-body.clients i {
  color: var(--secondary);
}
.accordion-body.clients h4 {
  color: var(--primary);
  font-weight: 400;
}




/*--------------------------------------------------------------
# Ofertas
--------------------------------------------------------------*/
#ofertas {
  background-color: var(--secondary);/*#666*/
  min-height: 300px;
  color: white;
  border-bottom: 16px solid rgba(0, 0, 0, 0.3)
}
#ofertas .lead, .form-select{
  /* color: red; */
  max-width: 400px;
}
#ofertas .second {
  /* color: red; */
  max-width: 700px;
}




/*--------------------------------------------------------------
# Sucursales
--------------------------------------------------------------*/
  #branches h5 {
    color: var(--primary) !important;
    font-size: 1.5rem;
    font-weight: 400;
  }



/*--------------------------------------------------------------
# Empleados
--------------------------------------------------------------*/
#employees {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#employees .lead {
  margin: 0 auto;
  max-width: 55rem;
  text-align: justify;
}
#employees p.lead {
  padding-top: 1.5rem;
}

.btns {
  padding-top: 2rem;
}



/*--------------------------------------------------------------
# Carrousel
--------------------------------------------------------------*/
.carousel {
  background: #007aeb;
}
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
}

.carousel-item .img-fluid {
  width: 100%;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


footer {
  border-top: 16px solid rgba(237, 28, 143)
}
footer a > i {
  color: var(--primary);
  font-size: 1.3rem;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
  .d-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .featurette-divider {
    margin: 3rem 0;
  }

  #employees .lead {
    font-size: 1rem;
  }

}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.card::after {
  display: block;
  position: absolute;
  bottom: -10px;
  left: 20px;
  width: calc(100% - 40px);
  height: 35px;
  background-color: #fff;
  -webkit-box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
  box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
  content: '';
  z-index: -1;
}
a.card {
  text-decoration: none;
}
.card > .box-shadow {
  width: 90px; 
  height: 90px; 
  margin-top: -45px;
}

/* .card {
  position: relative;
  border: 0;
  border-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
  box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
} */
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: .25rem;
}

.box-shadow {
  -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
  box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}
.mr-auto, .mx-auto {
  margin-right: auto !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.bg-white {
  background-color: #fff !important;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}

.mr-auto, .mx-auto {
  margin-right: auto !important;
}
.d-block {
  display: block !important;
}
img, figure {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.card-text {
  padding-top: 12px;
  color: #8c8c8c;
}

.text-sm {
  font-size: 12px !important;
}
p, .p {
  margin: 0 0 16px;
}
.card h3 {
  font-weight: 400;
}



.pt-1, .py-1 {
  padding-top: .25rem !important;
}

#services .head-icon{
  /* margin-top:18px; */
  color:var(--primary);
  font-size: 3rem;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  top: 5px;

}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  padding: 60px 0;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}
.team .member-info {
  background: #fff;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
  /* max-width: 500px; */
  margin: 2rem;
  /* padding: 2rem; */
  border: solid white 5px;
  border-radius: 50%;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #222222;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(16, 110, 234, 0.8);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
  z-index: 1000;
}

.team .member .social a:hover {
  background: #3b8af2;
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #222222;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}



.container.jobs {
  margin-top: 95px;
  margin-bottom: 60px;
}




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


footer {
  position: relative;
  height: 118px;
  clear:both; 
  padding-top:20px;
}



/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
.call-to-action {
    color: #f6f6f6;
    background-color: rgba(237, 28, 143, .6);
    border-color: white;
}
.call-to-action:hover{
  background-color: rgba(237, 28, 143, 1);
}