{% load static %}
<!-- The social media icon bar -->
<div class="icon-bar">
  <a href="https://www.facebook.com/CTSEmpleos/" class="facebook"><i class="bi bi-facebook"></i></a>
  <a href="https://twitter.com/CTS_Santurce" class="twitter"><i class="bi bi-twitter"></i></a>
  <a href="#" class="google"><i class="bi bi-google"></i></a>
  <a href="https://www.linkedin.com/company/ctspr/" class="linkedin"><i class="bi bi-linkedin"></i></a>
  <a href="#" class="email"><i class="bi bi-envelope-fill"></i></a>
</div>
<style>
  /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  z-index: 10000;
  position: fixed;
  top: 40%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (max-width: 991px) { 
  .icon-bar {
    display: none;
  }
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: var(--primary);
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.email {
  background: grey;
  color: white;
}
</style>