{% load static %}

<section id="ofertas" class="container-fluid">
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-lg-5">
        <h3 class="fw-normal lh-2">Encuentra tu futuro aquí</h3>
        <p class="lead">Busca ofertas de empleos disponibles por región en cada una de nuestras cinco
          sucursales</p>
      </div>
      <div class="col-lg-7">
        <h3 class="fw-normal lh-1">Ofertas de Empleo</h3>
        <select class="form-select" aria-label="Seleccione algo" onchange="go(this)">
          <option value="municipio" class="">Seleccione su pueblo</option>
          {% for town in towns %}
          <!-- <optgroup label="Sucursal {{ town.branch }}"> -->
            <option value="{{ town.br }}"> {{ town.tw }}</option>
          <!-- </optgroup> -->
          {% endfor %}
        </select>
        <p class="lead second">Antes de pasar a la solicitud de empleo, debe anotar el número de
          referencia de la posición a la cual interesa aplicar para que lo anote en el espacio 
          provisto en la solicitud.
        </p>
        <a type="button" href="{% url 'ofertas' %}" class="btn btn-lg call-to-action">Ver todas las Ofertas de Empleo</a>
      </div>
    </div>
  </div>
  <script>
    function go(sel) {
      var url = "jobs/"+sel.value+"/"+sel.options[sel.selectedIndex].text
      window.open(url)
    }
  </script>
</section>