<section id="services" class="services">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-title">
      <h3 class="featurette-heading fw-normal lh-1">Consulta nuestros <span>Servicios</span></h3>
      <p>CTS ofrece servicios a una amplia gama de sectores comerciales en Puerto Rico y tiene el
        privilegio de contar entre sus clientes con las empresas más reconocidas de los sectores
        industriales, bancarios y comerciales y a diversas agencias gubernamentales y corporaciones
        públicas.</p>
    </div>

    <div class="row pt-5 mt-30">
      <div class="col-lg-4 col-sm-6 mb-30 pb-5">
        <a class="card" href="#">
          <div class="box-shadow bg-white rounded-circle mx-auto text-center">
            <i class="bi-person-check head-icon"></i>
          </div>
          <div class="card-body text-center">
            <h3 class="card-title pt-1">Evaluación de Empleados</h3>
            <p class="card-text text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 mb-30 pb-5">
        <a class="card" href="#">
          <div class="box-shadow bg-white rounded-circle mx-auto text-center"><i
              class="bi-person-workspace head-icon"></i></div>
          <div class="card-body text-center">
            <h3 class="card-title pt-1">RH on Site</h3>
            <p class="card-text text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 mb-30 pb-5">
        <a class="card" href="#">
          <div class="box-shadow bg-white rounded-circle mx-auto text-center"><i
              class="bi-graph-up head-icon"></i></div>
          <div class="card-body text-center">
            <h3 class="card-title pt-1">Informes Estadísticos</h3>
            <p class="card-text text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 mb-30 pb-5">
        <a class="card" href="#">
          <div class="box-shadow bg-white rounded-circle mx-auto text-center"><i
              class="bi-gift head-icon"></i></div>
          <div class="card-body text-center">
            <h3 class="card-title pt-1">Beneficios e Incentivos</h3>
            <p class="card-text text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 mb-30 pb-5">
        <a class="card" href="#">
          <div class="box-shadow bg-white rounded-circle mx-auto text-center"><i
              class="bi-hand-thumbs-up head-icon"></i></div>
          <div class="card-body text-center">
            <h3 class="card-title pt-1">Personal de alto Nivel</h3>
            <p class="card-text text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 mb-30 pb-5">
        <a class="card" href="#">
          <div class="box-shadow bg-white rounded-circle mx-auto text-center"><i
              class="bi-diagram-3 head-icon"></i></div>
          <div class="card-body text-center">
            <h3 class="card-title pt-1">Supervisión Directa</h3>
            <p class="card-text text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
            </p>
          </div>
        </a>
      </div>
    </div>
</section>