<section id="whycts">
  <div class="container px-4" id="icon-grid">
    <div class="section-title">
      <h3 class="featurette-heading fw-normal lh-1">¿Por qué <span>CTS?</span></h3>
      <p>CTS es la compañía líder entre las agencias de empleo temporero locales e internacionales. Las
        oficinas corporativas están ubicadas en la Avenida Ponce de León #1431 en Santurce (Área Metro y
        Región Noreste), Barceloneta (Regiones norte y centro), Las Piedras (Regiones este y sureste) y
        San Germán (Regiones oeste y suroeste).
      </p>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Nuestros Empleados
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body employees">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
              <div class="col d-flex align-items-start">
                <i class="bi-coin me-3"></i>
                <div>
                  <h4 class="mb-0">Tarifas Competitivas</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <i class="bi-cash-coin me-3"></i>
                <div>
                  <h4 class="mb-0">Pagos de Beneficios y Aportaciones</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <i class="bi-bank me-3"></i>
                <div>
                  <h4 class="mb-0">Depósito Directo</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <i class="bi-hdd-network me-3"></i>
                <div>
                  <h4 class="mb-0">Data Electrónica</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <i class="bi-clipboard-check me-3"></i>
                <div>
                  <h4 class="mb-0">Seguimiento de Fuerza Laboral</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <i class="bi-graph-up-arrow me-3"></i>
                <div>
                  <h4 class="mb-0">Elevada Tasa de Retención</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <i class="bi-people me-3"></i>
                <div>
                  <h4 class="mb-0">Reclutamiento Continuo</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <i class="bi-shield-plus me-3"></i>
                <div>
                  <h4 class="mb-0">Salud y Seguridad Ocupacional</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Nuestors Clientes
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body clients">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
              <div class="col d-flex align-items-start">
                <i class="bi-coin me-3"></i>
                <div>
                  <h4 class="mb-0">Tarifas Competitivas</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <i class="bi-cash-coin me-3"></i>
                <div>
                  <h4 class="mb-0">Pagos de Beneficios y Aportaciones</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <i class="bi-bank me-3"></i>
                <div>
                  <h4 class="mb-0">Depósito Directo</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <i class="bi-hdd-network me-3"></i>
                <div>
                  <h4 class="mb-0">Data Electrónica</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <i class="bi-clipboard-check me-3"></i>
                <div>
                  <h4 class="mb-0">Seguimiento de Fuerza Laboral</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <i class="bi-graph-up-arrow me-3"></i>
                <div>
                  <h4 class="mb-0">Elevada Tasa de Retención</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <i class="bi-people me-3"></i>
                <div>
                  <h4 class="mb-0">Reclutamiento Continuo</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <i class="bi-shield-plus me-3"></i>
                <div>
                  <h4 class="mb-0">Salud y Seguridad Ocupacional</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>