{% extends "base.html" %}
{% load static %}

{% block title %}CTSPR{% endblock %}

{% block head %}
  {% include 'partials/_head_table.html'%}
{% endblock %}

{% block content %}
  <div class="container jobs">
    <h1>Oportunidades de Empleo</h1>

    <table class="table-striped table-hover table-sm" id="table">
      <thead>
        <tr>
          <th>Job ID</th>
          <th scope="col" data-field="title">Posición</th>
          <th scope="col" data-field="town">Pueblo</th>
          <th scope="col" data-field="branch">Sucursal</th>
        </tr>
      </thead>
      <tbody>
        {% for job in jobs %}
        <tr>
          <td>{{ job.jobID }}</td>
          <td>{{ job.title }}</td>
          <td>{{ job.town }}</td>
          <td>{{ job.suc }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      var table = new Tabulator("#table", {
        height:"70vh",
        layout:"fitColumns",
        responsiveLayout:true,
        pagination:"local",
        paginationSize:10,
        paginationSizeSelector:[20, 40, 60, 100],
        movableColumns:true,
        paginationCounter:"rows",
        headerSortTristate:true,
        columns:[
          { title:"Sec",formatter:"rownum", headerSort:false, hozAlign:"center", maxWidth:55},
          {title:"Posición", field:"title", headerFilter:"input", headerFilterParams:{valuesLookup:true, clearable:true}},
          {title:"Pueblo"  , field:"town" , headerFilter:"list", maxWidth:160, headerFilterParams:{valuesLookup:true, clearable:true}},
          {title:"Sucursal", field:"suc"  , headerFilter:"list", maxWidth:130, hozAlign:"center", headerFilterParams:{valuesLookup:true, clearable:true}},
          {title:"Job ID", field:"jobid", hozAlign:"center", maxWidth:130,
            cellClick:function(e, cell){
              console.log('hola');
              window.open({% url 'login' %})
            }
          }
        ]
        });
   
            
      
      

    </script>
  </div>
  
{% endblock %}
{% block scripts %}

{% endblock %}