{% extends "base.html" %}
{% load static %}

{% block title %}CTSPR{% endblock %}

{% block head %}
  {% include 'partials/_head_table.html'%}
{% endblock %}

{% block content %}
  <div class="container jobs">
    <h1>Oportunidades de Empleo</h1>
    <h2>Sucursal de {{ branch }}</h2>
    <p>tel: {{ branch.phone }}</p>


    <table class="table-striped table-hover table-sm" id="table">
      <thead>
        <tr>
          <th scope="col">Posición</th>
          <th scope="col">Pueblo</th>
          <th scope="col">Job ID</th>
        </tr>
      </thead>
      <tbody>
        {% for job in jobs %}
        <tr>
          <td>{{ job.title }}</td>
          <td>{{ job.town }}</td>
          <td>{{ job.jobID }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      var table = new Tabulator("#table", {
        height:"70vh",
        layout:"fitColumns",
        responsiveLayout:true,
        pagination:"local",
        paginationSize:10,
        paginationSizeSelector:[20, 40, 60, 100],
        movableColumns:true,
        paginationCounter:"rows",
        headerSortTristate:true,
        columns:[
        {title:"Sec",formatter:"rownum", headerSort:false, hozAlign:"center", maxWidth:55},
        {title:"Posición", field:"title", headerFilter:"input", headerFilterParams:{valuesLookup:true, clearable:true}},
        {title:"Pueblo"  , field:"town" , headerFilter:"list", maxWidth:160, headerFilterParams:{valuesLookup:true, clearable:true}},
        {title:"Job ID", field:"jobid", hozAlign:"center", maxWidth:130},
        ],
      });
    </script>
    
  </div>

  <script>
      
  </script>

{% endblock %}