{% extends "base.html" %}

{% block title %}Inicio | CTSPR{% endblock %}

{% block content %}

  {% include 'partials/home/_carousel.html' %}
  {% include 'partials/home/_whycts.html' %}
  <div class="hr"></div>
  {% include 'partials/home/_branches.html' %}
  <div class="hr"></div>
  {% include 'partials/home/_employees.html' %}
  {% include 'partials/home/_ofertas.html' %}
  {% include 'partials/home/_services.html' %}
  <div class="hr"></div>
  {% include 'partials/home/_team.html' %}

{% endblock %}